#todo-title {
    
}

#todo-title .weekname {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    display: inline-block;
    width: 55%;
    box-sizing: border-box;
    padding-left: 20px;
    text-align: center;
    height: 100px;
    line-height: 100px;
    
}

#todo-title .dateinfo {
    color: #555e77;
    font-style: italic;
    font-size: 13px;
    display: inline-block;
    width: 45%;
    text-align: center;
    height: 100px;
    line-height: 100px;
}