#yearmonth-picker {
    padding: 50px 0;
    text-align: center;
    color: #707e99;
}
#yearmonth-picker > .left-triangle{
    display: inline-block;
    border: 0.5rem solid transparent;
    border-right: 0.5rem solid#707e99;  
}
#yearmonth-picker > .month-year {
    display: inline-block;
    width: 80%;
    text-align: center;
    font-size: 18px;
}
#yearmonth-picker > .right-triangle{
    display: inline-block;
    border: 0.5rem solid transparent;
    border-left: 0.5rem solid #707e99;  
}