.calendar-item {
    float: left;
    box-sizing: border-box;
    width: 14.2857%;
    font-size: 14px;
    text-align: center;
    border-right:1px solid #ededed;
    border-bottom:1px solid #ededed;
    height: 75px;
    line-height: 75px;
    color:#dadada; /* #b389dd */
    position: relative;
}

.calendar-item .thismonth {
    color: #b389dd;
    cursor: pointer;
}
.calendar-item .thismonth.today {
    background-color: #b488dd;
    box-shadow: 0px 3px 3px #888;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

.calendar-item .record {
    width: 80%;
    height: 5px;
    border-radius: 3px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    background-color: #b389dd;
}
.calendar-item .thismonth.today .record {
    background-color: #fff;
}